opensg/tests/testing_data/bar_urc_npl_2_ar_10-segment_2.yaml filter=lfs diff=lfs merge=lfs -text
opensg/tests/testing_data/bar_urc_shell_mesh_segment_2.yaml filter=lfs diff=lfs merge=lfs -text
opensg/tests/testing_data/bar_urc_shell_mesh.yaml filter=lfs diff=lfs merge=lfs -text
opensg/tests/validation_data/test_shell_abd.txt filter=lfs diff=lfs merge=lfs -text
opensg/tests/validation_data/test_shell_eb_seg_stiffness.txt filter=lfs diff=lfs merge=lfs -text
opensg/tests/validation_data/test_shell_l_timo_stiffness.txt filter=lfs diff=lfs merge=lfs -text
opensg/tests/validation_data/test_shell_r_timo_stiffness.txt filter=lfs diff=lfs merge=lfs -text
opensg/tests/validation_data/test_shell_segment.msh filter=lfs diff=lfs merge=lfs -text
opensg/tests/validation_data/test_shell_timo_seg_stiffness.txt filter=lfs diff=lfs merge=lfs -text
opensg/tests/validation_data/test_solid_timo_stiffness.txt filter=lfs diff=lfs merge=lfs -text
opensg/tests/validation_data/test_solid_v0.txt filter=lfs diff=lfs merge=lfs -text
opensg/tests/validation_data/test_solid_segment.msh filter=lfs diff=lfs merge=lfs -text
opensg/tests/validation_data/test_solid_v1s.txt filter=lfs diff=lfs merge=lfs -text
examples/data/bar_urc_npl_2_ar_10/bar_urc_npl_2_ar_10-segment_1.yaml filter=lfs diff=lfs merge=lfs -text
examples/data/bar_urc_npl_2_ar_10/bar_urc_npl_2_ar_10-segment_2.yaml filter=lfs diff=lfs merge=lfs -text
examples/data/bar_urc_npl_2_ar_10/bar_urc_npl_2_ar_10-segment_0.yaml filter=lfs diff=lfs merge=lfs -text
