opensg/tests/testing_data/bar_urc_npl_2_ar_10-segment_2.yaml filter=lfs diff=lfs merge=lfs -text
opensg/tests/testing_data/bar_urc_shell_mesh_segment_2.yaml filter=lfs diff=lfs merge=lfs -text
opensg/tests/testing_data/bar_urc_shell_mesh.yaml filter=lfs diff=lfs merge=lfs -text
opensg/tests/validation_data/test_shell_abd.txt filter=lfs diff=lfs merge=lfs -text
opensg/tests/validation_data/test_shell_eb_seg_stiffness.txt filter=lfs diff=lfs merge=lfs -text
opensg/tests/validation_data/test_shell_l_timo_stiffness.txt filter=lfs diff=lfs merge=lfs -text
opensg/tests/validation_data/test_shell_r_timo_stiffness.txt filter=lfs diff=lfs merge=lfs -text
opensg/tests/validation_data/test_shell_segment.msh filter=lfs diff=lfs merge=lfs -text
opensg/tests/validation_data/test_shell_timo_seg_stiffness.txt filter=lfs diff=lfs merge=lfs -text
opensg/tests/validation_data/test_solid_timo_stiffness.txt filter=lfs diff=lfs merge=lfs -text
opensg/tests/validation_data/test_solid_v0.txt filter=lfs diff=lfs merge=lfs -text
opensg/tests/validation_data/test_solid_segment.msh filter=lfs diff=lfs merge=lfs -text
opensg/tests/validation_data/test_solid_v1s.txt filter=lfs diff=lfs merge=lfs -text
examples/data/bar_urc_npl_2_ar_10/bar_urc_npl_2_ar_10-segment_15.yaml filter=lfs diff=lfs merge=lfs -text
examples/data/bar_urc_npl_2_ar_10/bar_urc_npl_2_ar_10-segment_1.yaml filter=lfs diff=lfs merge=lfs -text
examples/data/bar_urc_npl_2_ar_10/bar_urc_npl_2_ar_10-segment_4.yaml filter=lfs diff=lfs merge=lfs -text
examples/data/bar_urc_npl_2_ar_10/bar_urc_npl_2_ar_10-segment_5.yaml filter=lfs diff=lfs merge=lfs -text
examples/data/bar_urc_npl_2_ar_10/bar_urc_npl_2_ar_10-segment_7.yaml filter=lfs diff=lfs merge=lfs -text
examples/data/bar_urc_npl_2_ar_10/bar_urc_npl_2_ar_10-segment_8.yaml filter=lfs diff=lfs merge=lfs -text
examples/data/bar_urc_npl_2_ar_10/bar_urc_npl_2_ar_10-segment_10.yaml filter=lfs diff=lfs merge=lfs -text
examples/data/bar_urc_npl_2_ar_10/bar_urc_npl_2_ar_10-segment_11.yaml filter=lfs diff=lfs merge=lfs -text
examples/data/bar_urc_npl_2_ar_10/bar_urc_npl_2_ar_10-segment_13.yaml filter=lfs diff=lfs merge=lfs -text
examples/data/bar_urc_npl_2_ar_10/bar_urc_npl_2_ar_10-segment_16.yaml filter=lfs diff=lfs merge=lfs -text
examples/data/bar_urc_npl_2_ar_10/bar_urc_npl_2_ar_10-segment_20.yaml filter=lfs diff=lfs merge=lfs -text
examples/data/bar_urc_npl_2_ar_10/bar_urc_npl_2_ar_10-segment_2.yaml filter=lfs diff=lfs merge=lfs -text
examples/data/bar_urc_npl_2_ar_10/bar_urc_npl_2_ar_10-segment_12.yaml filter=lfs diff=lfs merge=lfs -text
examples/data/bar_urc_npl_2_ar_10/bar_urc_npl_2_ar_10-segment_21.yaml filter=lfs diff=lfs merge=lfs -text
examples/data/bar_urc_npl_2_ar_10/bar_urc_npl_2_ar_10-segment_22.yaml filter=lfs diff=lfs merge=lfs -text
examples/data/bar_urc_npl_2_ar_10/bar_urc_npl_2_ar_10-segment_17.yaml filter=lfs diff=lfs merge=lfs -text
examples/data/bar_urc_npl_2_ar_10/bar_urc_npl_2_ar_10-segment_3.yaml filter=lfs diff=lfs merge=lfs -text
examples/data/bar_urc_npl_2_ar_10/bar_urc_npl_2_ar_10-segment_0.yaml filter=lfs diff=lfs merge=lfs -text
examples/data/bar_urc_npl_2_ar_10/bar_urc_npl_2_ar_10-segment_18.yaml filter=lfs diff=lfs merge=lfs -text
examples/data/bar_urc_npl_2_ar_10/bar_urc_npl_2_ar_10-segment_26.yaml filter=lfs diff=lfs merge=lfs -text
examples/data/bar_urc_npl_2_ar_10/bar_urc_npl_2_ar_10-segment_14.yaml filter=lfs diff=lfs merge=lfs -text
examples/data/bar_urc_npl_2_ar_10/bar_urc_npl_2_ar_10-segment_23.yaml filter=lfs diff=lfs merge=lfs -text
examples/data/bar_urc_npl_2_ar_10/bar_urc_npl_2_ar_10-segment_9.yaml filter=lfs diff=lfs merge=lfs -text
examples/data/bar_urc_npl_2_ar_10/bar_urc_npl_2_ar_10-segment_19.yaml filter=lfs diff=lfs merge=lfs -text
examples/data/bar_urc_npl_2_ar_10/bar_urc_npl_2_ar_10-segment_24.yaml filter=lfs diff=lfs merge=lfs -text
examples/data/bar_urc_npl_2_ar_10/bar_urc_npl_2_ar_10-segment_25.yaml filter=lfs diff=lfs merge=lfs -text
examples/data/bar_urc_npl_2_ar_10/bar_urc_npl_2_ar_10-segment_27.yaml filter=lfs diff=lfs merge=lfs -text
examples/data/bar_urc_npl_2_ar_10/bar_urc_npl_2_ar_10-segment_6.yaml filter=lfs diff=lfs merge=lfs -text
